.navbar-light .navbar-nav .nav-link
{
    color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    justify-content: space-around;
}
#navbarNav{
   width: 50%;
   display: flex; 
   justify-content: space-around;
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: rgb(241, 30, 30);
    text-decoration: underline;
    height: 35px;
    
}
#nav-ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.nav-item{
    margin-right: 20px;
    
}

.p-fluid{
    margin-left: 300px;
    height: 40px;
    width: 170px;
}
.search-input{
    height: 40px;
}
.bi {
    font-size: 35px;
    
}

